// BUTTON CHECK ANIMATION
@keyframes toupie-mode {
    0%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes menu-animation {
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    50%{
        opacity: 0.9;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
// BACKGROUND LOADER
@keyframes loader-animation {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 5;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
}

// loader//
@keyframes lol {
	0% {
		opacity: 0;
		transform: translateX(-300px);
	}
	33% {
		opacity: 1;
		transform: translateX(0px);
	}
	66% {
		opacity: 1;
		transform: translateX(0px);
	}
	100% {
		opacity: 0;
		transform: translateX(300px);
	}
}
