@import 
url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import 
url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*,
::before, 
::after {
    box-sizing: border-box;

}

.wrapper{
    max-width: 999px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 999px) {
        
        
    }
}

body{
    font-family: "Roboto", sans-serif ;
    margin: 0px;
}


a {
    text-decoration: none;
    color: inherit;
}


h1 {
    font-family: 'Shrikhand';
}